@media (min-width: 768px) {
  img.info-image {
    width: 50%;
  }
}

.info-image {
  width: 100%;
}

@media (min-width: 768px) {
  .simple-slider {
    display: none;
  }
}

.testimonials-desktop {
  display: none;
}

@media (min-width: 768px) {
  .testimonials-desktop {
    display: block;
  }
}

